@(products: Seq[Product])(implicit request: MessagesRequestHeader)

@request.flash.get("success").map { key =>
    @request.messages(key)
}

@main("Koszyk") {
    <h3>
        Koszyk
    </h3>

    <table>
        <thead>
            <tr>
                <th>produkt</th>
                <th>cena</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @for(product <- products){
            <tr>
                <td>@product.name</td>
                <td>@product.price</td>
                <td>
                    <a href="@controllers.routes.CartController.deleteCartItem(product.id)">Usuń z koszyka</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <a href="@controllers.routes.OrderController.makeOrder">Zamów</a>
}




