@(product: Form[CreateProductForm], category: Seq[Category])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
   @request.messages(key)
}

@main("Sklep internetowy") {
    <h3>Dodaj produkt</h3>
    @form(routes.ProductController.addProduct()) {
        @inputText(product("name"))
        @inputText(product("description"))
        @inputText(product("price"))

        <select name="category" id="category">
        @for(cat <- category) {
            <option value="@cat.id">@cat.name</option>
        }
        </select>


        @CSRF.formField

        <div class="buttons">
            <input type="submit" value="Dodaj produkt"/>
        </div>
    }
}
