@(product: Product, opinion: Form[CreateOpinionForm])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
    @request.messages(key)
}

@main("Dodaj opinie dla produktu") {
    <h3>
        Dodaj opinie dla produktu @product.name (@product.id)
    </h3>
    <hr>

    @form(routes.OpinionController.addOpinion(product.id)) {
        @inputText(opinion("title"))
        @textarea(field = opinion("content"), args = 'rows -> 7, 'cols -> 50, 'maxlength -> 300)

        @CSRF.formField

        <div class="buttons">
            <input type="submit" value="Dodaj opinie"/>
        </div>
    }
}




